<!DOCTYPE html>

<html>

<head>
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png"> 
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>DeepSee.io</title>
    <!-- detect viewport  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <!-- font awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet" type="text/css">

    <!-- js -->
    <script type="text/javascript" src="/js/smooth-scroll.js"></script>
</head>

<body>

    <!-- show the message pop-up if a flash message is sent -->
    <% if ( flashMsg.length > 0 ) { %>
        <div id="message-popup" class="panel">
            <%= flashMsg %>
        </div>

        <script>
            $("#message-popup").delay(5000).fadeOut();
        </script>
    <% } %>

    <div class="frontpage-splash">

        <img src="img/hero-image-sea.jpg" class="frontpage-splash-img"></img>

        <nav class="navbar navbar-inverse navbar-custom">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">      
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/#">
                        <img alt="header-logo" src="img/deepsee-header-logo.png" style="height: 40px; width: 144px"/>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div id="myNavbar" class="collapse navbar-collapse">

                    <ul class="nav navbar-nav navbar-right social-nav">
                        <li>
                            <a href="https://www.facebook.com/Deepseeio/"><i class="fa fa-lg fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/deepseeio?lang=en"><i class="fa fa-lg fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://medium.com/@deepseeio"><i class="fa fa-lg fa-medium"></i></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCfEP4kVI-ezfwDInPHk70vg"><i class="fa fa-lg fa-youtube-play"></i></a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right link-nav">
                        <li><a href="/#about">ABOUT</a></li>
                        <li><a href="/#contact">CONTACT</a></li>   
                        <li><a href="pdf/whitepaper.pdf">WHITEPAPER</a></li>   
                    </ul>
                </div>
            </div><!-- /.container-fluid -->
        </nav>

        <div class="text-center">
            <img id="hero-logo-image" src="img/DeepSee-banner-logo.png" />

            <div id="signup" class="feature signup">
                <div class="container">
                    <div class="text-center signup-title">Sign up for our pre-sale &amp; updates</div>
                    <div class="center-block signup-form">

                        <form method="post" action="/signup" class="form-inline">
                            <div class="form-group">
                                <label class="sr-only" for="email">Email</label>
                                <input name="email" class="email" type="email"
                                placeholder="Enter Email"/>
                            </div>
                            <button class="btn btn-success">SIGN UP</button>

                            <span style="color:white"> OR </span>

                            <%- include('partials/instantaccess', {id: ""}); %>
                                                          
                        </form>

                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- about -->
    <div name="about" id="about" class="feature">

        <h1 class="center-block text-center">What is DeepSee?</h1> 
        <br/>
        <div class="center-block text-center default-text">
            DeepSee is an all-in-one media platform that is revolutionizing content aggregation, distribution, verification, and monetization. DeepSee makes use of artificial intelligence, decentralized communities, and the blockchain to create the most powerful yet flexible platform of it's kind. The goal of DeepSee is the build a global village of the highest value and integrity.
        </div>

        <div class="about-content"> 

            <div>
                <img src="/img/what-is-deepsee.png" alt="What is DeepSee?"
                style="width:100%"/>
            </div>
            <br/>
            <div class="about-content-additional container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/img/artificial-intelligence.png" 
                        alt="artificial-intelligence"/>
                        <h3>Artificial Intelligence</h3>
                        <p>DeepSee uses machine learning and a variety of
                            neural networks to create powerful search, recommmendations, 
                            and content analysis functionality within the platform.
                            It also uses reinforcement learning to detect bots, growth
                        marketers, and vote manipulators.</p>
                    </div>

                    <div class="col-md-4">
                        <img src="/img/verification.png" 
                        alt="verification"/>
                        <h3>Verification</h3>
                        <p>Users have many different verification options: from completely
                            anonymous to 3rd-party vetting with skill/profession certification.  Users can use their credentials to 
                            maximize their "voice" when it comes to content creation,
                        commenting, and even voting.</p>
                    </div>

                    <div class="col-md-4">
                        <img src="/img/blockchain.png" 
                        alt="blockchain"/>
                        <h3>Blockchain</h3>
                        <p>Several areas of the platform utilize the blockchain's
                            verification model to support decentralized and transparent
                            business practices.  Most importantly: DeepSee's cryptocurrecy
                            <b>CurrentSee</b>.</p>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- currentsee -->
    <div id="currentsee" name="currentsee" class="feature">

        <h1 class="text-center"> What is CurrentSee? </h1>

        <div class="center-block default-text">
            CurrentSee isn't just some junk coin.  It's a digital asset directly backed by services on the platform.  Advertising is a high demand/large volume service that, given the appropriate metrics, can be traded much like a commodity.  The value of CurrentSee is directly tied to the size of the 
            DeepSee community--thus ALL holders of CurrentSee have huge incentives to participate in the community and recruit others to the platform.
        </div>

        <div>
            <img class="currentsee-img center-block" src="/img/ds-infrastructure.png">
        </div>
    </div>

    <div id="timeline" name="timeline" class="feature">
        <h1 class="text-center"> Our TimeLine</h1>

        <img class="timeline-img" src="/img/timeline.png"/>

    </div>

    <!-- team -->    
    <div id="team" name="team" class="feature">
        <h1 class="text-center">Our Team</h1>

        <div class="persons">
            <% for(var i=0; i<team.length; i++) { %>
                <div class="person">
                    <img src="img/<%= team[i].img %>">
                    <h3><%- team[i].name %></h3>
                    <h4><%- team[i].title %></h4>
                    <p><%- team[i].bio %>
                    </p>
                </div>
            <% } %>
        </div>

        <h1 class="text-center">Our Advisors</h1>

            <div class="persons">
                <% for(var i=0; i<advisors.length; i++) { %>
                    <div class="person">
                        <img src="img/<%= advisors[i].img %>">
                        <h3><%- advisors[i].name %></h3>
                        <h4><%- advisors[i].title %></h4>
                        <p><%- advisors[i].bio %>
                        </p>
                    </div>
                <% } %>
            </div>

            <!-- contact -->
            <div id="contact" name="contact" class="feature"> 
                <div class="container">
                    <h1 class="text-center feature-title">Contact Us</h1>
                    <form class="center-block" method="post" action="/contact">
                <!-- <div class="form-group">
                    <input name="name" type="text" placeholder="Enter Full Name"/>
                </div> -->
                <div class="form-group">
                    <input name="email" type="email" placeholder="Enter Email"/>
                </div>
                <div class="form-group">
                    <textarea name="message" rows="4" placeholder="Your Message"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-success">SEND MESSAGE</button>
                </div>
            </form>
            <!-- </div> -->
        </div>
    </div>

    <div id="signup2" class="feature signup">
        <div class="text-center container">
            <div class="signup-title">Sign up for our pre-sale &amp; updates</div>
            <div class="center-block signup-form">

                <form method="post" action="/signup" class="form-inline">
                    <div class="form-group">
                        <input name="email" class="email" type="email"
                        placeholder="Enter Email"/>
                    </div>
                    <button class="btn btn-success">SIGN UP</button>

                    <span style="color:white"> OR </span>

                    <%- include('partials/instantaccess', {id: 2}); %>
                </form>
            </div>
        </div>
    </div>

    <footer>

        <nav class="navbar navbar-default collapse navbar-collapse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">      
                    <a class="navbar-brand" href="/#">
                        <img alt="header-logo" src="img/deepsee-header-logo.png" style="height: 40px; width: 144px"/>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div>

                    <ul class="nav navbar-nav navbar-right social-nav">
                        <li>
                            <a href="https://www.facebook.com/Deepseeio/"><i class="fa fa-lg fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/deepseeio?lang=en"><i class="fa fa-lg fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://medium.com/@deepseeio"><i class="fa fa-lg fa-medium"></i></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCfEP4kVI-ezfwDInPHk70vg"><i class="fa fa-lg fa-youtube-play"></i></a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right link-nav">
                        <li><a href="/#about">ABOUT</a></li>
                        <li><a href="/#contact">CONTACT</a></li>   
                        <li><a href="pdf/whitepaper.pdf">WHITEPAPER</a></li>   
                    </ul>
                </div>
            </div><!-- /.container-fluid -->
        </nav>
        <div class="copyright text-center">
            &copy; 2017 Deepsee.io. - All Rights Reserved
        </div>

    </footer>    

</body>

</html>